<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    <title>Parasite</title>
</head>

<body>

        <div class="header">
            <img id="logo_imt" src="{{ url_for('static', filename='images/logo_imt.png') }}" alt="IMT Logo"
                class="logo">
            <h1 id="titre">Station de contrôle</h1>
            <img id="logo_parasite" src="{{ url_for('static', filename='images/parasite.png') }}" alt="Parasite Logo"
                class="logo">
        </div>
<div class="wrapper">
    <div class="connection-section">
        <div class="device">
            <img src="{{ url_for('static', filename='images/device.svg') }}" alt="M" class="connection-image" />
        </div>
        <div class="connection" id="phone-to-raspberry">
            <img src="{{ url_for('static', filename='images/dots.svg') }}" alt="M" class="connection-image" />
            <img id="device-to-rpi-nok"src="{{ url_for('static', filename='images/nolink.svg') }}" alt="M" class="connection-image"/>
            <img id="device-to-rpi-ok"src="{{ url_for('static', filename='images/link.svg') }}" alt="M" class="connection-image" hidden/>
            <img src="{{ url_for('static', filename='images/dots.svg') }}" alt="M" class="connection-image" />
        </div>
        <div class="device">
       
            <img src="{{ url_for('static', filename='images/celltower.svg') }}" alt="M" class="connection-image" />
        </div>
        <div class="connection" id="raspberry-to-arduino">
         <img src="{{ url_for('static', filename='images/dots.svg') }}" alt="M" class="connection-image" />
            <img id="rpi-to-drone-nok" src="{{ url_for('static', filename='images/nolink.svg') }}" alt="M" class="connection-image" />
            <img id="rpi-to-drone-ok"src="{{ url_for('static', filename='images/link.svg') }}" alt="M" class="connection-image" hidden/>
             <img src="{{ url_for('static', filename='images/dots.svg') }}" alt="M" class="connection-image" />
        </div>
        <div class="device">
            <img src="{{ url_for('static', filename='images/dronedji.svg') }}" alt="M" class="connection-image" />

        </div>
    </div>


        <div id="buttons">

            {# --------- VALVE 1 --------- #}
            <div class="button-section">
                <div class="button-line">
                    {% if valves["v1"]["is_open"] %}
                    <a id="valve-v1" class="valve" style="background-color: var(--green-color);">
                        <div style="margin-top: 100%"></div>
                        <div
                            style="align-items: center; display: flex; flex-direction: column; transform: rotate(-45deg)">
                            <p style="white-space: nowrap; margin: 0px">VALVE 1</p>
                            <p style="white-space: nowrap; margin: 0px">Opened</p>
                        </div>
                    </a>
                    <label class="switch">
                        <input type="checkbox" id="v1" onchange="confirmAction(this.id)" checked />
                        <span class="slider round"></span>
                    </label>
                    {% else %}
                    <a id="valve-v1" class="valve">
                        <div style="margin-top: 100%"></div>
                        <div
                            style="align-items: center; display: flex; flex-direction: column; transform: rotate(-45deg)">
                            <p style="white-space: nowrap; margin: 0px">VALVE 1</p>
                            <p style="white-space: nowrap; margin: 0px">Closed</p>
                        </div>
                    </a>
                    <label class="switch">
                        <input type="checkbox" id="v1" onchange="confirmAction(this.id)" />
                        <span class="slider round"></span>
                    </label>
                    {% endif %}
                </div>
                <div class="button-line">
                    <div class="timer-label">
                        <p style="white-space: nowrap;">Chrono :</p>
                        <span class="timer" id="timer1">00</span>
                    </div>
                    <a class="bouton reset" href="#" onclick="resetTimer(0); return false;">
                        <img src="{{ url_for('static', filename='images/refresh.svg') }}" style="width:30px;:red;" />
                    </a>
                </div>

            </div>
            {# -------- FIN VALVE 1 --------- #}


            {# ------------ VALVE 2 ----------- #}
            <div class="button-section">
                <div class="button-line">
                    {% if valves["v2"]["is_open"] %}
                    <a id="valve-v2" class="valve" style="background-color: var(--green-color);">
                        <div style="margin-top: 100%"></div>
                        <div
                            style="align-items: center; display: flex; flex-direction: column; transform: rotate(-45deg)">
                            <p style="white-space: nowrap; margin: 0px">VALVE 2</p>
                            <p style="white-space: nowrap; margin: 0px">{{ "Open" if valves["v2"]["is_open"] else
                                "Closed"
                                }}</p>
                        </div>
                    </a>
                    <label class="switch">
                        <input type="checkbox" id="v2" onchange="confirmAction(this.id)" checked />
                        <span class="slider round"></span>
                    </label>
                    {% else %}
                    <a id="valve-v2" class="valve">
                        <div style="margin-top: 100%"></div>
                        <div
                            style="align-items: center; display: flex; flex-direction: column; transform: rotate(-45deg)">
                            <p style="white-space: nowrap; margin: 0px">VALVE 2</p>
                            <p style="white-space: nowrap; margin: 0px">{{ "Open" if valves["v2"]["is_open"] else
                                "Closed"
                                }}</p>
                        </div>
                    </a>
                    <label class="switch">
                        <input type="checkbox" id="v2" onchange="confirmAction(this.id)" />
                        <span class="slider round"></span>
                    </label>
                    {% endif %}
                </div>
                <div class="button-line">
                    <div class="timer-label">
                        <p style="white-space: nowrap;">Chrono :</p>
                        <span class="timer" id="timer2">00</span>
                    </div>
                    <a class="bouton reset" href="#" onclick="resetTimer(1); return false;">
                        <img src="{{ url_for('static', filename='images/refresh.svg') }}" style="width:30px;:red;" />
                    </a>
                </div>
            </div>
            {# --------- FIN VALVE 2 --------- #}
        </div>
    </div>

    <div id="confirmation-modal" class="modal">
        <div class="modal-content">
            <img id="modal-title" src="{{ url_for('static', filename='images/not_started.svg') }}"
                style="width:60px;color:white;" />
            <p id="modal-message" class="modal-message">Are you sure you want to open the valve ?</p>
            <div class="modal-buttons">
                <a href="#" class="bouton ouvrir" onclick="openOrClose(open = true)"; return false;">Yes</a>
                <a href="#" class="bouton fermer" onclick="closeModal(); return false;">No</a>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>

</html>
