<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    <title>Parasite</title>
</head>

<body>

    <div class="wrapper">

        <div class="logo-container">
            <img src="{{ url_for('static', filename='images/parasite.png') }}" class="logo" alt="Parasite Logo" class="logo">
        </div>

        <!--<div id="loading-message" style="display: none;">
            <div class="spinner"></div>
            <p>Pumping...</p>
        </div>-->

        <div id="buttons">
            <div class="button-line">
                {% if valves["v1"]["is_open"] %}
                <a id="valve-v1" class="valve" style="box-shadow: 8px 8px var(--green-shadow); background-color: var(--green-color);">
                    <div style="margin-top: 100%"></div>
                    <div style="align-items: center; display: flex; flex-direction: column; transform: rotate(-45deg)">
                        <p style="white-space: nowrap; margin: 0px">VALVE 1</p>
                        <p style="white-space: nowrap; margin: 0px">Opened</p>
                    </div>
                </a>
                <label class="switch">
                    <input type="checkbox" id="v1"  onchange="confirmAction(this.id)" checked/>
                    <span class="slider round"></span>
                </label>
                {% else %}
                <a id="valve-v1" class="valve">
                    <div style="margin-top: 100%"></div>
                    <div style="align-items: center; display: flex; flex-direction: column; transform: rotate(-45deg)">
                        <p style="white-space: nowrap; margin: 0px">VALVE 1</p>
                        <p style="white-space: nowrap; margin: 0px">Closed</p>
                    </div>
                </a>
                <label class="switch">
                    <input type="checkbox" id="v1"  onchange="confirmAction(this.id)"/>
                    <span class="slider round"></span>
                </label>
                {% endif %}
                <div class="timer-container">
                    <div class="timer-label">
                        <p style="white-space: nowrap;">Timer (s):</p>
                        <span id="timer">00</span>
                    </div>
                    <a class="bouton reset" href="#" onclick="resetTimer(); return false;">
                        <img src="{{ url_for('static', filename='images/refresh.svg') }}" style="width:30px;:red;" />
                    </a>
                </div>

                <!--<a class="bouton ouvrir" href="#" onclick="confirmStartTimer(); return false;">
                    <img src="static/images/open_in_browser.svg" style="width:100px;" />
                </a>
                <a class="bouton fermer" href="#" onclick="confirmStopTimer(); return false;">
                    <img src="static/images/block.svg" style="width:100px;color:white;" />
                </a>-->
            </div>
            <div class="button-line">
                <a id="valve-v2" class="valve">
                    <div style="margin-top: 100%"></div>
                    <div style="align-items: center; display: flex; flex-direction: column; transform: rotate(-45deg)">
                        <p style="white-space: nowrap; margin: 0px">VALVE 2</p>
                        <p style="white-space: nowrap; margin: 0px">{{ "Open" if valves["v2"]["is_open"] else "Closed" }}</p>
                    </div>
                </a>
                <label class="switch">
                    <input type="checkbox" id="v2"  onchange="confirmAction(this.id)"/>
                    <span class="slider round"></span>
                </label>
                <div class="timer-container">
                    <div class="timer-label">
                        <p style="white-space: nowrap;">Timer (s):</p>
                        <span id="timer">00</span>
                    </div>
                    <a class="bouton reset" href="#" onclick="resetTimer(); return false;">
                        <img src="{{ url_for('static', filename='images/refresh.svg') }}" style="width:30px;:red;" />
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="confirmation-modal" class="modal">
        <div class="modal-content">
            <img id="modal-title" src="{{ url_for('static', filename='images/not_started.svg') }}" style="width:60px;color:white;" />
            <p id="modal-message" class="modal-message"></p>
            <div class="modal-buttons">
                <a href="#" class="bouton ouvrir" onclick="confirmAction(); return false;">Yes</a>
                <a href="#" class="bouton fermer" onclick="closeModal(); return false;">No</a>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>

</html>
